@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* VARIABLES */
:root {
  --bg: #CFC9B5;
  --boba: #231306;
  --coyote: #936639;
  --camel: #A68A64;
  --sage: #A4AC86;
  --olive: #656D4A;
  --rifle: #414833;
  --kombu: #333D29;
}

/* GLOBAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 16px;
  background-color: var(--bg);
  transition: all 0.4s ease;
}

/* HEADER */
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: var(--bg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;
}
#header h1 {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 3rem;
  font-style: italic;
  margin-right: 5rem;
}
#header nav {
  display: flex;
  margin: 2rem 3rem;
}
#header nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1rem;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
#header nav a:hover {
  background: black;
  color: var(--bg);
}

/* MAIN */
#main {
  padding-top: 10rem;
  padding-bottom: 5rem;
  margin: 0 20rem;
}

.boxes {
  border-radius: 15px;
  overflow: hidden;
}

.main-box {
  position: relative;
  background-color: var(--camel);
  height: 18rem;
  width: 15rem;
  float: left;
}

#boba-text {
  font-size: 5em;
  color: var(--bg);
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
}

.main-box::before {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background-color: var(--coyote);
  border-radius: 45%;
  animation: coffee 10s ease-in-out forwards;
  -webkit-animation: coffee 10s ease-in-out forwards;
}

.bubbles {
  position: absolute;
  background-color: var(--boba);
  border-radius: 50%;
}

.bubble1 {
  height: 1.75em;
  width: 1.75em;
  top: 15rem;
  left: 10rem;
  animation: jiggle 4s infinite;
  -webkit-animation: jiggle 4s infinite;
}

.bubble2 {
  height: 2rem;
  width: 2rem;
  top: 14rem;
  right: 9rem;
  animation: jiggle 2s infinite;
  -webkit-animation: jiggle 2s infinite;
}

.bubble3 {
  height: 2.15rem;
  width: 2.15rem;
  top: 12.5rem;
  left: 8rem;
  animation: jiggle 6s infinite;
  -webkit-animation: jiggle 6s infinite;
}

.bubble4 {
  height: 2rem;
  width: 2rem;
  top: 14.5rem;
  right: 12rem;
  animation: jiggle 5s infinite;
  -webkit-animation: jiggle 5s infinite;
}

.bubble5 {
  height: 2rem;
  width: 2rem;
  top: 13.5rem;
  left: 12rem;
  animation: jiggle 3s infinite;
  -webkit-animation: jiggle 3s infinite;
}

/* FOUR SIDE BLOCKS */
.flex-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  flex-direction: flex-end;
  justify-content: space-around;
  padding-left: 4rem;
}

.side {
  width: 10rem;
  height: 10rem;
}

.box1 {
  background-color: var(--sage);
}
.box1 #b1-text {
  color: var(--kombu);
  font-size: 1.2em;
  margin-top: 1rem;
}

.box2 {
  background-color: var(--rifle);
  margin-left: 2rem;
  display: flex;
}
.box2 #b2-text {
  position: absolute;
  color: var(--bg);
  font-size: 1.25rem;
  transform: translate(0.6rem, 6rem);
}
.box2 #b2-img {
  position: relative;
  width: 15em;
  transform: translate(3em, -4em);
}

.box3 {
  background-color: var(--coyote);
  display: flex;
  margin-top: 4rem;
}
.box3 #b3-text {
  font-size: 1.25em;
  padding: 0.5em 0 0 1em;
  color: var(--bg);
}
.box3 #b3-img {
  position: relative;
}

.box4 {
  background-color: var(--olive);
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-top: 4rem;
}
.box4 #b4-text {
  position: relative;
  align-self: center;
  font-size: 1.5em;
  color: var(--bg);
}
.box4 .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--bg);
  position: absolute;
  font-size: 3rem;
  transform: translate(0, 1.5rem);
}

/* ANIMATIONS */
@keyframes coffee {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(500deg);
  }
}
@-webkit-keyframes coffee {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(500deg);
  }
}
@keyframes jiggle {
  0% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
  }
  50% {
    transform: translateY(6px) scale(0.98);
    -webkit-transform: translateY(6px) scale(0.98);
  }
  100% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
  }
}
@-webkit-keyframes jiggle {
  0% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
  }
  50% {
    transform: translateY(6px) scale(0.98);
    -webkit-transform: translateY(6px) scale(0.98);
  }
  100% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
  }
}
